<div class="container">
	<%= render 'nav' %>
	<h1>Hi <%= @user.first_name.capitalize %>!</h1>


	<%= link_to 'Private Recommendations', recommendations_path(user_id: @user.id) %>
	<%= link_to 'Public Recommendations',  user_path(user_id: @user.id) %>

</div>