<h1>Hi <%= @user.first_name.capitalize %>!</h1>

<%= link_to 'Recommendations', recommendations_path %>

<div>
	<%#= link_to 'Private Recommendations', recommendations_path(user_id: @user.id) %>
</div>