h1,h2,h3 {
  font-family: "Lora", serif;
}


.tags-container, .tag {
  display: inline-block;
}

.dashboard {
	margin: 40px auto;
	width: 90%;
	padding: 15px;
	// border: 4px double black;
	// border-radius: 10px;
	background: url(image-path('light_wool.png'));
}

.recContent h1 {
	font-size: 60px;
	color: black;
	margin-top: 0px;

}

.navbar1 {
	background-color: black;
	opacity: .8;
	/*border: 2px solid black;
	border-radius: 10px;*/
	padding: 1%;
	color: black;
	margin: 0 auto;
	height: 10px;
	font-size: 16px;
}

.navbarLogo {
	float: left;
	display: inline-block;
	color: white;
	font-size: 18px;
	text-transform: none;
}

.navbarLogo a {
	color: white;
	font-size: 24px;
}
.navBarButton {
	display: inline-block;
	background: transparent;
	color: white;
	padding: 0px 5px;
	border-right: 1px solid white;
}

.navBarButton a {
	color: white;
}
.navbarLogo a:hover, .navBarButton a:hover {
	color: gray;
}
.navBarButton.logout {
	border-right: 0;
}

.newRec, .myRec {
	background-color: white;
	font-family: "Lora";
	border: 4px double black;
	margin: 75px auto;
	width: 80%;
	padding: 1%;
	border-radius: 10px;
	background: url(image-path('light_wool.png'));
	text-align: center;
}

tr,td,th {
	text-align: center;

}

.publicContent {
	display: inline-block;
}