// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{ 
	text-align: center;
	background: url(image-path("bg-1.jpg"));
	opacity: .84;
	background-repeat: no-repeat;
	height: 1000px;
	width: auto;
	position: relative;
}

#appName {
	position: inherit;
	top: 32%;
	margin: 0 auto;
	font-size: 160px;
	font-family: "Lora", serif;
	color: white;
}

#underTitle {
	position: inherit;
	width: 80%;
	top: 260px;
	margin: 0 auto;
	font-family: "Lora", serif;
	font-style: italic;
	font-size: 19px;
	color: white;
}

section.content {
	border-top: 10px solid white;
	background-color: white;
	height: auto;
	width: auto;
	background-repeat: no-repeat;
}

.sign-in {
	padding: 15px;
	background: white;
	border: 2px solid gray;
	background-repeat: repeat;
	width: 1000px;
	text-align: center;
	border: 2px solid white;
	margin: 0 auto;
}

// input[type=text], [type=password] {	
// 	background: transparent;
// 	line-height: 100%;
// 	border: none;
// 	border-bottom: 2px solid gray;
// 	width: 375px;
// 	height: 24px;
// 	font-size: 14px;
// 	font-family: "Lora", serif;
// 	color: black;
// 	text-align: center;
// }


// input[type=submit] {
// 	background: transparent;
// 	font-size: 20px;
// 	font-family: "Lora", serif;
// 	border: none;
// 	color: gray;
// }

input:focus {
	outline: none;
}

input:hover {
	color: black;
}

a {
	color: gray;
	text-decoration: none;
	font-family: "Lora", serif;
	font-style:	italic;
}

a:hover {
	color: black;
}

.btn-primary {
	background-color: #8ECBD6;
}

.modal-body{
	line-height: 200%;
	height: 145px;
	background: url(image-path('light_wool.png'));
}

.modal-body2 {
	height: 300px;
	line-height: 200%;
	background: url(image-path('light_wool.png'));
}