// h1,h2,h3 {
//   font-family: 'Sigmar One', cursive;
// }


.newUserContainer {
	background: url(image-path("bg-1.jpg"));
	opacity: .85;
	height: 1000px;
	width: auto;
	position: relative;
	text-align: center;
}

#appName2 {
	color: white;
	text-align: center;
	display: block;
	font-size: 170px;
	// text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1.heading {
	text-align: center;
	font-family: "Lora", serif;
	padding: 5px 15px 0 15px;
}

#error-explanation {
	text-align: center;
	color: red;
	padding-bottom: 50px;
}

.newUserContent {
	background: url(image-path('light_wool.png'));
	border: 4px double black;
	border-radius: 10px;
	width: 500px;
	margin: 0 auto;	
	padding-bottom: 10px;
	opacity: .95;
}

// .newUserContent input {
// 	border: 1px solid gray;
// }

.newUserForm {
	line-height: 2;
	text-align: center;
}

#newSessionPath {
	font-size: 12px;
	text-align: center;
}

.editForm {
	line-height: 200%;
	text-align: right;
	margin-right: 44%;
}